*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Dar propiedades a los contenedores del grid*/
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#260084,#8c3ae9);
    
}
#header{
    grid-area: header;
    position: sticky;
    top: 0;
    padding: 8px 0;
    z-index: 100;
}

#main{
    grid-area: main;
    background-image: url(../images/estrellas.png);
    background-size: cover;
    mask-image: linear-gradient(#000 80%, transparent);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*LAYOUT DE LA PAGINA*/
.grid_container{
    display: grid;
    grid-template: 
    "header"  40px
    "main"    auto
    ;
    height: 100vh;
}



/*HEADER Y BOTONES DE NAVEGACION*/
.container_header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.flex_item{
    width: 50%;
    text-align: center;
    
}

.container_header div{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button_nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.button_nav li a{
    padding: 6px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
}

.button_nav li a:hover,
.button_nav li a.active{
    background-color: #48156D;
    color: #CB15B7;
    z-index: 1000;
}   

/*SECCION MAIN*/
.parallax{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;

}

.me{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    

}

.me img{
    width: 65%;
    height: 95%;
    object-fit: cover;
    object-position: center;
    mask-image: linear-gradient(#000 90%, transparent);
    box-shadow: #000 0 0 50px ;
}

.container_info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 100px;
    align-items: center;
}

.info{
    font-size: 24px;
    color: #fffd;
    word-break: keep-all;
}
.container_skills{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container_skills p{
    margin: 0;
    color: #fffd;
    font-weight: 600;
}

.skills{
    width: 160px;
    height: 160px;
    position: relative;
}

.outer{
    width: 160px;
    height: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0 , 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
    border-radius: 50%;

}

.inner{
    width: 120px;
    height: 120px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.number{
    font-weight: 600;
    color: #d287fd;
    font-size: 30px;

}

#python {
    fill: none;
    stroke: #CB15B7;
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: python 2s linear forwards;
}

@keyframes python{
    100%{
        stroke-dashoffset: 135;
    }
}

#java {
    fill: none;
    stroke: #CB15B7;
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: java 2s linear forwards;
}

@keyframes java{
    100%{
        stroke-dashoffset: 180;
    }
}

#html{
    fill: none;
    stroke: #CB15B7;
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: html 2s linear forwards;
}

@keyframes html{
    100%{
        stroke-dashoffset: 247.5;
    }
}

#css{
    fill: none;
    stroke: #CB15B7;
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: css 2s linear forwards;
}

@keyframes css{
    100%{
        stroke-dashoffset: 157.5;
    }
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

.hobbies{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.list_hobbies{
    width: 50%;
    color: #fffd;
}
.list_hobbies h3{
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
    color: #1b015c;
}
.list_hobbies ul{
    margin: 0;
    font-size: 18px;
    list-style:square;
}

.space{
    width: 20%;
}