*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Dar propiedades a los contenedores del grid*/
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#260084,#8c3ae9);
}
#header{
    grid-area: header;
    position: sticky;
    top: 0;
    padding: 8px 0;
    z-index: 100;
}

#main{
    grid-area: main;
    background-image: url(../images/estrellas.png);
    background-size: contain;
    mask-image: linear-gradient(#000 80%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    grid-area: footer;
}

/*LAYOUT DE LA PAGINA*/
.grid_container{
    display: grid;
    grid-template: 
    "header"  80px
    "main"    88vh
    "footer"  50px
    ;
    
}



/*HEADER Y BOTONES DE NAVEGACION*/
.container_header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.flex_item{
    width: 50%;
    text-align: center;
    
}

.container_header div{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button_nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.button_nav li a{
    padding: 6px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
}

.button_nav li a:hover,
.button_nav li a.active{
    background-color: #48156D;
    color: #CB15B7;
    z-index: 1000;
}   

/*SECCION MAIN*/
.parallax{  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}


.contact{
    width: 30%;
    height: 80%;
}

.contact form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact form input, textarea{
    padding: 10px 14px;
    background: linear-gradient(#8c3ae9, #48156D);
    color: #fffd;
    font-size: 20px;
    border: transparent;
    border-radius: 14px;
    box-shadow: 0 0 15px #48156D ;
}

fieldset{
    border-left: transparent;
    border-right: transparent;
    padding: 40px;
    border-radius: 20px;
    background-color: #25008433;
    backdrop-filter: blur(2px);
    color: #fffd;
    border-color: #48156D;
    font-size: 22px;
}

form button{
    margin-top: 60px;
    color: #fffd;
    font-size: 18px;
    background: linear-gradient(#8c3ae9, #48156D);
    border: transparent;
    padding: 12px 0;
    border-radius: 20px;
}

form button:hover{
    background: linear-gradient(#9437ff, #330057);;
    cursor:pointer;
}


/*FOOTER SECCION*/
.container_footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.copy{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

}

.icons_redes{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}