*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Dar propiedades a los contenedores del grid*/
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#260084,#8c3ae9);
    
    
}
#header{
    grid-area: header;
    position: sticky;
    top: 0;
    padding: 8px 0;
    z-index: 100;
}

#main{
   
    grid-area: main;
}

#sidebar{ 
    grid-area: sidebar;
    
}

#footer{
    grid-area: footer;
}

/*LAYOUT DE LA PAGINA*/
.grid_container{
    display: grid;
    grid-template: 
    "header"  80px
    "main"    85vh
    "sidebar" 90vh
    "footer"  50px 
    ;
    
}

/*HEADER Y BOTONES DE NAVEGACION*/
.container_header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.flex_item{
    width: 50%;
    text-align: center;
    
}

.container_header div{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button_nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.button_nav li a{
    padding: 6px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
}

.button_nav li a:hover,
.button_nav li a.active{
    background-color: #48156D;
    color: #CB15B7;
    z-index: 1000;
}   

/*IMAGEN DE FONDO PARA EL PARALLAX *JAVASCRIPT**/
.parallax{
    position: relative;
    width: 100%;
    height: 100%;
}

.parallax img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    mask-image: linear-gradient(#000 80%, transparent);
    
}

.parallax #moon{
    mix-blend-mode: screen;
    width: 22%;
    height: 40%;
    top: 0;
    right: 10%
}

.parallax .name{
    width: 35%;
    height: 40vh;
    position: absolute;
    top: 5%;
    right: 60%;
    columns: #fff;
    white-space: nowrap;
    font-size: 1.5vw;
    z-index: 9;
    margin: 0;
}


/*SECCION DEL NOMBRE E INFO*/
.name h1{
    margin: 0;
    background: linear-gradient(to right,#fff7, #CB15B7, #fff7);
    background-size: 400px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: animate 8s linear reverse infinite;
}
.name span{
    font-size: 2.5rem;
}

.name p{
    background: linear-gradient(to right,#fff9, #CB15B7, #fff9);
    background-size: 400px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: animate 8s linear reverse infinite;
}


.parallax .button{
    
    padding: 16px 30px;
    font-size: 24px;
    position: absolute;
    top: 55%;
    right: 50%;
    transform: translate(50%,50%);
    background-color: #260084;
    box-shadow: #000 0 0 50px ;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    z-index: 1000;

}

.parallax .button:hover{
    color: #F052F8;
    font-size: 26px;
}


/*SECCION ASIDE DE GALERIA CON PROYECTOS*/
.container_carrusel{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
 
#projects{
    height: 10vh;
    margin: 20px;
    font-size: 34px;
    background: linear-gradient(to right,#fff7, #CB15B7, #fff7);
    background-size: 400px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: animate 15s linear reverse infinite;
    filter: drop-shadow(#000 0 0 13px);
}

@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.carrusel{
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    height: 50%;
    margin-bottom : 150px;
}

.carrusel a{
    width: 30%;
    height: 80%;
    padding: 0;
    position: relative;
    transition: 2.2s ease;
    
}

.carrusel a p{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 12px 20px;
    text-decoration: none;
    background: linear-gradient(transparent, #000);
    color: #fff;
}

.carrusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale();
    transition: 2.2s ease;
    
}

.carrusel a:hover{
    width: 100%;
    margin: 0 12px;
    filter: drop-shadow(#000 0 0 30px) 
}

.carrusel a:hover{
    display: block;
}

/*SECCION FOOTER*/

.container_footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.copy{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

}

.icons_redes{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

